.breadcrumbs {
  background-color: #E3E3E3;
}

.breadcrumbs li {
  display: inline;
  colour: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px; 
  
}
.breadcrumbs li:hover{
  background-color: 9E9E9E;
}


h1 {
  color: Black;
}
